doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="stylesheet" href="../css/main.css">
        title YouTube
    body
        .container 
            header 
            
                div 
                    img(src="../img/Vector.png", alt="").vector
                    img(src="../img/youtube-logo.svg", alt="logo").logo
            
                .inp
                    input(type="search", name="" placeholder="Search")
                    img(src="../img/search-icon.png", alt="rasm")
                .icon 
                    img(src="../img/Frame 4.png", alt="")

                    hr
                    br
                    br
        
        .container 
            main
                div.left  
                    img(src="../img/top-menu.png", alt="")
                    img(src="../img/detail-menu.png", alt="")
                    img(src="../img/subs.png", alt="")
                    img(src="../img/more-youtube.png", alt="")
                    
                  
                div.right  
                script(src="../index.js") 
                    
                
                       
